@using ProaktifArizaTahmini.CORE.Entities;

@model RelayInformation

@{
    ViewData["Title"] = "Sil";
}

<h3>Silmek İstiyor Musun?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            TM No
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TmNo)
        </dd>
        <dt class="col-sm-2">
            kV
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.kV)
        </dd>
        <dt class="col-sm-2">
            Hücre No
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HucreNo)
        </dd>
        <dt class="col-sm-2">
            Tm-kV-Hücre
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TmKvHucre)
        </dd>
        <dt class="col-sm-2">
            Fider Adı
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FiderName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IP)
        </dd>
        <dt class="col-sm-2">
            Saat Farkı(dk)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TimeDifference)
        </dd>
        <dt class="col-sm-2">
            Röle Model
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoleModel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Port)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Port)
        </dd>
        <dt class="col-sm-2">
            Kullanıcı Adı
        </dt>
        <dd class="col-sm-10">
            <span class="password" data-password="@Model.User">******</span>
            <i class="icon" onclick="togglePassword(this)"><img src="~/img/eye-fill.svg" /></i>
        </dd>
        <dt class="col-sm-2">
            Şifre
        </dt>
        <dd class="col-sm-10">
            <span class="password" data-password="@Model.Password">******</span>
            <i class="icon" onclick="togglePassword(this)"><img src="~/img/eye-fill.svg" /></i>
        </dd>
        <dt class="col-sm-2">
            Dosya Yolu
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Path)
        </dd>
    </dl>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a class="btn btn-primary" asp-action="List">Listeye Geri Dön</a>
    </form>
</div>

<script>

    function togglePassword(icon) {
        var passwordSpan = icon.previousElementSibling;
        var password = passwordSpan.getAttribute('data-password');
        var eyeIcon = icon.querySelector('img');

        if (passwordSpan.textContent === '******') {
            $.ajax({
                url: '@Url.Action("DecryptData","RelayInformation")',
                type: 'POST',
                data: {
                    text: password
                },
                success: function (data) {
                    // JSON'dan çözülen şifreyi al
                    var decrypted = data.decrypt;
                    // Şifreyi kullanıcıya göster

                    passwordSpan.textContent = decrypted;
                    eyeIcon.src = '/img/eye-slash-fill.svg';
                },
                error: function (error) {
                    console.log('Hata:', error);
                }
            });
        } else {
            passwordSpan.textContent = '******';
            eyeIcon.src = '/img/eye-fill.svg';
        }
    }
</script>
