@using ProaktifArizaTahmini.CORE.Entities;
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common;
@model IPagedList<Disturbance>

@{
    ViewData["Title"] = "List";
    int counter = (Model.PageNumber - 1) * Model.PageSize + 1;
}

<div class="d-flex align-items-center justify-content-between">
    <div>
        @*<input type="text" class="form-control" id="searchInput" onkeyup="searchTable1()" placeholder="Filtrele">*@
        <form asp-action="List" method="post" class="d-flex justify-content-between">
            <input type="text" class="form-control" id="SearchString" placeholder="Filtrele" name="filterText" value="@ViewBag.CurrentFilter" />
            <button style="margin-left:20px;" type="submit" class="btn btn-primary">Ara</button>
        </form>
    </div>

    <form class="d-flex justify-content-between" asp-action="List" method="post">
        <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">Başlangıç Tarihi</span>
        <input style="margin-right:20px;" type="datetime-local" class="form-control" id="startDatetimepicker" name="FaultStartDate" aria-describedby="addon-wrapping" />
            <span class="input-group-text" id="addon-wrapping">Bitiş Tarihi</span>
        <input style="margin-right:20px;" type="datetime-local" class="form-control" id="endDatetimepicker" name="FaultEndDate" />
        </div>
        <button type="submit" class="btn btn-primary" onclick="saveToLocalStorage()">Arama</button>
    </form>

</div>
<div style="max-height: 720px; overflow-y: scroll; margin-top:25px;">
    <table class="table table-striped fixed-table-header" id="example" style="width:100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Avcılar TM</th>
                <th>Hücre No</th>
                <th>Fider Adı</th>
                <th>IP</th>
                <th>Role Model</th>
                <th>Arıza Saati</th>
                <th>Comtrade Dosyası</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    <tr class="align-items-center">
                        <td>
                            @counter
                        </td>
                        <td>@item.AvcilarTM</td>
                        <td>@item.HucreNo</td>
                        <td>@item.FiderName</td>
                        <td>@item.IP</td>
                        <td>@item.RoleModel</td>
                        <td>@item.FaultTime</td>
                        <td>
                            <div id="dynamicFilePaths">
                                <input type="hidden" id="filePath1" value="@item.CfgFilePath" />
                                <input type="hidden" id="filePath2" value="@item.DatFilePath" />
                                <button style="height:36px;" class="downloadButton btn btn-success">Dosyaları İndir</button>
                            </div>
                        </td>
                    </tr>
                    counter++;
                }
            }

        </tbody>
    </table>
</div>
<br />
<div class="d-flex justify-content-between align-items-center">
    <div>
        Toplam @Model.TotalItemCount kayıt bulundu. Bu sayfada @Model.FirstItemOnPage ile @Model.LastItemOnPage arası kayıtlar gösteriliyor.
    </div>
    <div class="d-flex justify-content-end flex-nowrap">
        <div>
            <form id="pageSizeForm" method="post">
                <select class="form-select" id="pageSizeSelect" name="pageSize">
                    <option disabled selected>@ViewBag.PageSize</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <input type="hidden" class="form-control" id="SearchString" placeholder="Filtrele" name="filterText" value="@ViewBag.CurrentFilter" />
                </select>
            </form>
        </div>
        <div style="margin-left:10px;">
            @Html.PagedListPager((IPagedList)Model, page => Url.Action("List", new { page,pageSize=ViewBag.PageSize, currentFilter = ViewBag.CurrentFilter }), new PagedListRenderOptions {
            UlElementClasses = new[] { "pagination", "my-custom-class" },
            LiElementClasses = new[] { "page-item" },
            PageClasses = new[] { "page-link" }
            })
        </div>
    </div>
</div>

<script src="~/js/disturbance.js"></script>