@using ProaktifArizaTahmini.BLL.Models.RequestModel;
@using ProaktifArizaTahmini.CORE.Entities;
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common;
@model MyDataFilterParams

@{
    ViewData["Title"] = "List";
    int counter = (Model.MyDataList.PageNumber - 1) * Model.MyDataList.PageSize + 1;
}

<div class="d-flex justify-content-between">
    @*<div>
    <form asp-action="List" method="post" class="d-flex justify-content-between">
    <input type="text" class="form-control" id="searchInput" placeholder="Filtrele" name="filterText">
    <button style="margin-left:20px;" type="submit" class="btn btn-primary">Ara</button>
    </form>
    <form asp-action="List" method="get" class="d-flex justify-content-between">
    <input type="text" class="form-control" id="SearchString" placeholder="Filtrele" name="filterText" value="@ViewBag.CurrentFilter" />
    <button style="margin-left:20px;" type="submit" class="btn btn-primary">Ara</button>
    </form>

    </div>*@
    <div class="d-flex align-items-center justify-content-around">
        <a style="margin-right:20px; margin-left:25px;" type="button" class="btn btn-success" asp-action="Create">Yeni Oluştur</a>
        <form class="d-flex justify-content-between" id="uploadExcel" method="post" enctype="multipart/form-data">
            <input style="margin-right:20px;" type="file" class="form-control" id="input" name="excelFile" accept=".xls,.xlsx,.ods" />
            <button style="margin-right:20px;" type="submit" class="btn btn-primary" title="Excel dosyası yükle">Yükle</button>
        </form>
        <div>
            Excel'den verileri almak için dosya seçip yükleyin.
        </div>
    </div>
</div>

<div style="max-height: 680px; overflow-y: scroll; margin-top:20px;">
    <div class="table-container">
        <form asp-action="List" method="get">
            <div class="filter-container">
                <table class="table table-striped">
                    <thead>
                        <tr class="d-flex">
                            <th></th>
                            <th><input type="text" class="form-control" id="SearchString" placeholder="TM No" name="FilterTextTm" value="@Model.CurrentFilterTm" /></th>
                            <th><input type="text" class="form-control" id="SearchString" placeholder="kV" name="filterTextKv" value="@Model.CurrentFilterKv" /></th>
                            <th><input type="text" class="form-control" id="SearchString" placeholder="Hücre No" name="filterTextHucre" value="@Model.CurrentFilterHucre" /></th>
                            <th><input type="text" class="form-control" id="SearchString" placeholder="Fider Adı" name="filterTextFider" value="@Model.CurrentFilterFider" /></th>
                            <th><input type="text" class="form-control" id="SearchString" placeholder="IP" name="filterTextIp" value="@Model.CurrentFilterIp" /></th>
                            <th><input type="text" class="form-control" id="SearchString" placeholder="Röle Model" name="filterTextRole" value="@Model.CurrentFilterRole" /></th>
                            <th><input type="text" class="form-control" id="SearchString" placeholder="Kullanıcı Adı" name="filterTextKullanici" value="@Model.CurrentFilterKullanici" /></th>
                            <th><input type="text" class="form-control" id="SearchString" placeholder="Şifre" name="filterTextSifre" value="@Model.CurrentFilterSifre" /></th>
                            <th><button style="margin-left:20px;" type="submit" class="btn btn-primary">Ara</button></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </form>
        <table class="table table-striped" id="example">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Avcılar TM</th>
                    <th>kV</th>
                    <th>Hücre No</th>
                    <th>Fider Adı</th>
                    <th>IP</th>
                    <th>Role Model</th>
                    <th>Kullanıcı Adı</th>
                    <th>Şifre</th>
                    <th>Aksiyonlar</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var item in Model.MyDataList)
                    {
                        <tr>
                            <td>
                                @counter
                            </td>
                            <td>@item.AvcilarTM</td>
                            <td>@item.kV</td>
                            <td>@item.HucreNo</td>
                            <td>@item.FiderName</td>
                            <td>@item.IP</td>
                            <td>@item.RoleModel</td>
                            <td>@item.User</td>
                            <td>@item.Password</td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.ID">
                                    <i class="fas fa-edit alert-success"></i>
                                </a> |
                                <a asp-action="Delete" asp-route-id="@item.ID">
                                    <i class="fas fa-trash-alt alert-danger"></i>
                                </a>
                            </td>
                        </tr>
                        counter++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<br />
<div class="d-flex justify-content-between align-items-center">
    <div>
        Toplam @Model.MyDataList.TotalItemCount kayıt bulundu. Bu sayfada @Model.MyDataList.FirstItemOnPage ile @Model.MyDataList.LastItemOnPage arası kayıtlar gösteriliyor.
    </div>
    <div class="d-flex justify-content-end flex-nowrap">
        <div>
            <form id="pageSizeForm" method="post">
                <select class="form-select" id="pageSizeSelect" name="PageSize">
                    <option disabled selected>@ViewBag.PageSize</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <input type="hidden" class="form-control" id="SearchString" placeholder="TM No" name="filterTextTm" value="@Model.CurrentFilterTm" />
                    <input type="hidden" class="form-control" id="SearchString" placeholder="kV" name="filterTextKv" value="@Model.CurrentFilterKv" />
                    <input type="hidden" class="form-control" id="SearchString" placeholder="Hücre No" name="filterTextHucre" value="@Model.CurrentFilterHucre" />
                    <input type="hidden" class="form-control" id="SearchString" placeholder="Fider Adı" name="filterTextFider" value="@Model.CurrentFilterFider" />
                    <input type="hidden" class="form-control" id="SearchString" placeholder="IP" name="filterTextIp" value="@Model.CurrentFilterIp" />
                    <input type="hidden" class="form-control" id="SearchString" placeholder="Röle Model" name="filterTextRole" value="@Model.CurrentFilterRole" />
                    <input type="hidden" class="form-control" id="SearchString" placeholder="Kullanıcı Adı" name="filterTextKullanici" value="@Model.CurrentFilterKullanici" />
                    <input type="hidden" class="form-control" id="SearchString" placeholder="Şifre" name="filterTextSifre" value="@Model.CurrentFilterSifre" />
                </select>
            </form>
        </div>
        <div style="margin-left:10px;">

            @Html.PagedListPager(Model.MyDataList, page => Url.Action("List", new { page,pageSize=ViewBag.PageSize, CurrentFilterTm = Model.CurrentFilterTm,CurrentFilterKv = @Model.CurrentFilterKv,CurrentFilterHucre = @Model.CurrentFilterHucre,CurrentFilterFider = @Model.CurrentFilterFider,CurrentFilterIp = @Model.CurrentFilterIp,CurrentFilterRole = @Model.CurrentFilterRole,CurrentFilterKullanici = @Model.CurrentFilterKullanici,CurrentFilterSifre = @Model.CurrentFilterSifre, }), new PagedListRenderOptions {
            UlElementClasses = new[] { "pagination", "my-custom-class" },
            LiElementClasses = new[] { "page-item" },
            PageClasses = new[] { "page-link" }
            })

        </div>
    </div>
</div>


<script src="~/js/mydata.js"></script>



